.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FCFDFF;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-color: #E4E7EB;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.div {
  width: 1000px;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.container01 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.navlink {
  display: contents;
}
.image {
  width: 120px;
  object-fit: cover;
}
.div1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.text {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  align-self: center;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  transition-delay: 2s;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.text01 {
  font-weight: 700;
}
.span {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}
.text02 {
  font-weight: 700;
}
.text03 {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}
.text04 {
  color: rgb(9, 103, 210);
  font-weight: 800;
}
.container02 {
  width: 720px;
  display: flex;
  margin-top: 48px;
  align-items: flex-start;
  flex-direction: column;
}
.text05 {
  width: 100%;
  font-size: 40px;
  align-self: center;
  text-align: center;
  line-height: 1.4;
}
.text06 {
  font-weight: 900;
}
.div2 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 16px;
  flex-direction: column;
}
.image1 {
  width: 100%;
  align-self: center;
  object-fit: contain;
  border-radius: 16px;
}
.container03 {
  width: 720px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  flex-direction: column;
}
.text07 {
  width: 100%;
  display: inline-block;
  align-self: center;
  margin-top: 24px;
}
.text08 {
  width: 100%;
  display: inline-block;
  align-self: center;
  margin-top: 16px;
}
.text09 {
  font-weight: 700;
}
.text10 {
  font-weight: 700;
}
.text11 {
  width: 100%;
  display: inline-block;
  align-self: center;
  margin-top: 16px;
}
.text12 {
  width: 100%;
  display: inline-block;
  align-self: center;
  margin-top: 16px;
}
.text13 {
  margin-top: 16px;
}
.container04 {
  width: 720px;
  height: 1px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E4E7EB;
}
.container05 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h1 {
  font-size: 24px;
  line-height: 1.4;
}
.text15 {
  color: #52606D;
  font-size: 16px;
  margin-top: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.text16 {
  margin-top: 16px;
}
.text17 {
  margin-top: 12px;
}
.text18 {
  color: #52606D;
  font-size: 16px;
  margin-top: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.text19 {
  margin-top: 16px;
}
.text20 {
  margin-top: 12px;
}
.text21 {
  color: #52606D;
  font-size: 16px;
  margin-top: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.text22 {
  margin-top: 16px;
}
.text23 {
  margin-top: 12px;
}
.container06 {
  width: 720px;
  height: 1px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E4E7EB;
}
.container07 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.text24 {
  font-size: 24px;
  line-height: 1.4;
}
.text25 {
  font-weight: 800;
}
.span1 {
  margin-top: 16px;
}
.text26 {
  font-weight: bold;
}
.text27 {
  font-weight: bold;
}
.text28 {
  margin-top: 12px;
}
.text29 {
  margin-top: 12px;
}
.text30 {
  margin-top: 12px;
}
.text31 {
  color: #52606D;
  font-size: 16px;
  margin-top: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.text32 {
  margin-top: 12px;
}
.text33 {
  font-weight: bold;
}
.text34 {
  margin-top: 12px;
}
.text35 {
  margin-top: 12px;
}
.text36 {
  font-weight: bold;
}
.container08 {
  width: 720px;
  height: 1px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E4E7EB;
}
.container09 {
  width: 720px;
  display: flex;
  overflow: auto;
  margin-top: 40px;
  align-items: center;
  border-color: #E4E7EB;
  flex-direction: column;
  justify-content: center;
}
.container10 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text37 {
  font-size: 24px;
  line-height: 1.4;
}
.text38 {
  color: rgb(62, 76, 89);
}
.text39 {
  color: rgb(50, 63, 75);
}
.text40 {
  color: rgb(50, 63, 75);
}
.container11 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-self: stretch;
  align-items: stretch;
  justify-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.link {
  display: contents;
}
.icon {
  fill: #323F4B;
  width: 28px;
  height: 28px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.link1 {
  display: contents;
}
.icon1 {
  fill: #323F4B;
  width: 28px;
  height: 28px;
  margin: 16px;
}
.link2 {
  display: contents;
}
.icon2 {
  fill: #323F4B;
  width: 28px;
  height: 28px;
  margin: 16px;
}
.link3 {
  display: contents;
}
.icon3 {
  fill: #323F4B;
  width: 28px;
  height: 28px;
  margin: 16px;
}
.link4 {
  display: contents;
}
.icon4 {
  fill: #323F4B;
  width: 28px;
  height: 28px;
  margin: 16px;
}
@media(max-width: 767px) {
  .div {
    width: 80%;
  }
  .container02 {
    width: 70%;
  }
  .container03 {
    width: 70%;
  }
  .container04 {
    width: 80%;
  }
  .container05 {
    width: 70%;
  }
  .container06 {
    width: 80%;
  }
  .container07 {
    width: 70%;
  }
  .container08 {
    width: 80%;
  }
  .container09 {
    width: 70%;
    height: 80px;
  }
}
@media(max-width: 479px) {
  .navbar {
    height: 120px;
  }
  .div {
    grid-gap: 16px;
    margin-top: 16px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .container01 {
    justify-content: center;
  }
  .div1 {
    justify-content: space-between;
  }
  .container02 {
    width: 80%;
  }
  .text05 {
    text-align: left;
  }
  .container03 {
    width: 80%;
  }
  .text07 {
    text-align: left;
  }
  .text08 {
    text-align: left;
  }
  .text11 {
    text-align: left;
  }
  .text12 {
    text-align: left;
  }
  .container05 {
    width: 80%;
  }
  .container06 {
    width: 90%;
  }
  .container07 {
    width: 80%;
  }
  .container08 {
    width: 90%;
  }
  .container09 {
    width: 90%;
    height: 200px;
    flex-wrap: nowrap;
    margin-top: 0;
  }
  .container10 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .text37 {
    font-size: 20px;
    font-family: Inter;
  }
  .container11 {
    display: block;
    flex-wrap: wrap;
    margin-top: 8px;
    flex-direction: column;
  }
  .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .icon1 {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .icon2 {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .icon3 {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .icon4 {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}
