.container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-color: #E4E7EB;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.div {
  width: 1000px;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.container01 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.navlink {
  display: contents;
}
.image {
  width: 120px;
  object-fit: cover;
}
.div01 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.text {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  align-self: center;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  transition-delay: 2s;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.text001 {
  font-weight: 700;
}
.span {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}
.text002 {
  font-weight: 700;
}
.text003 {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}
.container02 {
  width: 720px;
  cursor: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.navlink1 {
  display: contents;
}
.icon {
  width: 32px;
  height: 32px;
}
.container03 {
  width: 720px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text004 {
  width: 100%;
  font-size: 40px;
  margin-top: 16px;
  line-height: 1.4;
}
.text005 {
  font-weight: 900;
}
.text006 {
  color: #52606D;
  margin-top: 4px;
  line-height: 1.8;
}
.image1 {
  width: 100%;
  margin-top: 24px;
  object-fit: cover;
}
.container04 {
  width: 720px;
  display: grid;
  grid-gap: 24px;
  margin-top: 24px;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text007 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text008 {
  text-transform: uppercase;
}
.text009 {
  margin-top: 16px;
}
.container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text010 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text011 {
  text-transform: uppercase;
}
.text012 {
  margin-top: 16px;
}
.div02 {
  width: 720px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  flex-direction: column;
}
.h1 {
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4;
}
.text013 {
  margin-top: 16px;
}
.text014 {
  font-weight: 700;
}
.text015 {
  font-weight: 700;
}
.text016 {
  margin-top: 16px;
}
.text017 {
  margin-top: 16px;
}
.text018 {
  margin-top: 16px;
}
.container07 {
  width: 800px;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 32px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #F5F7FA;
}
.container08 {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.icon1 {
  fill: #F86A6A;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.text019 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-right: 8px;
}
.text020 {
  display: inline-block;
}
.container09 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.h101 {
  font-size: 24px;
  line-height: 1.4;
}
.text021 {
  margin-top: 16px;
}
.div03 {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  margin-top: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}
.container11 {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.h102 {
  font-size: 20px;
}
.text022 {
  font-size: 16px;
  margin-top: 16px;
}
.container12 {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.h103 {
  font-size: 20px;
}
.text023 {
  font-size: 16px;
  margin-top: 16px;
}
.container13 {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.h104 {
  font-size: 20px;
}
.text024 {
  font-size: 16px;
  margin-top: 16px;
}
.container14 {
  width: 100%;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text025 {
  margin-top: 24px;
}
.text026 {
  font-weight: 700;
}
.text027 {
  font-weight: 700;
}
.text028 {
  margin-top: 16px;
}
.text029 {
  margin-top: 16px;
}
.text030 {
  margin-top: 16px;
}
.text031 {
  margin-top: 16px;
}
.container15 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text032 {
  width: 100%;
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
.text033 {
  font-weight: 800;
}
.text034 {
  margin-top: 16px;
}
.text035 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text036 {
  text-transform: uppercase;
}
.text037 {
  margin-top: 16px;
}
.text038 {
  margin-top: 16px;
}
.text039 {
  margin-top: 16px;
}
.text040 {
  font-weight: 700;
}
.text041 {
  font-weight: 700;
}
.text042 {
  font-weight: 700;
}
.div04 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text043 {
  width: 100%;
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
.text044 {
  font-weight: 800;
}
.text045 {
  margin-top: 16px;
}
.text046 {
  margin-top: 16px;
}
.text047 {
  font-weight: 700;
}
.text048 {
  font-weight: 700;
}
.text049 {
  margin-top: 16px;
}
.div05 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text050 {
  width: 100%;
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
.text051 {
  font-weight: 800;
}
.text052 {
  margin-top: 16px;
}
.text053 {
  font-weight: 700;
}
.text054 {
  margin-top: 16px;
}
.text055 {
  margin-top: 16px;
}
.text056 {
  font-weight: 700;
}
.container16 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text057 {
  width: 100%;
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
.text058 {
  font-weight: 800;
}
.text059 {
  margin-top: 16px;
}
.text060 {
  margin-top: 16px;
}
.text061 {
  margin-top: 16px;
}
.div06 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text062 {
  width: 100%;
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
.text063 {
  font-weight: 800;
}
.text064 {
  margin-top: 16px;
}
.text065 {
  margin-top: 16px;
}
.text066 {
  margin-top: 16px;
}
.div07 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text067 {
  width: 100%;
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
.text068 {
  font-weight: 800;
}
.text069 {
  width: 100%;
  font-size: 14px;
  margin-top: 32px;
  line-height: 1.4;
  letter-spacing: 2px;
}
.text070 {
  text-transform: uppercase;
}
.text071 {
  margin-top: 16px;
}
.text072 {
  margin-top: 16px;
}
.text073 {
  margin-top: 16px;
}
.text074 {
  margin-top: 16px;
}
.div08 {
  width: 720px;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  flex-direction: column;
}
.text075 {
  width: 100%;
  font-size: 14px;
  margin-top: 32px;
  line-height: 1.4;
  letter-spacing: 2px;
}
.text076 {
  text-transform: uppercase;
}
.text077 {
  margin-top: 16px;
}
.text078 {
  margin-top: 16px;
}
.text079 {
  margin-top: 16px;
}
.container17 {
  width: 800px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.container18 {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.image2 {
  width: 60%;
  align-self: center;
  margin-top: 16px;
  object-fit: cover;
}
.image3 {
  width: 60%;
  align-self: center;
  margin-top: 16px;
  object-fit: cover;
}
.text080 {
  font-size: 16px;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.div09 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.text081 {
  margin-top: 16px;
}
.text082 {
  margin-top: 16px;
}
.text083 {
  margin-top: 16px;
}
.container19 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h105 {
  width: 100%;
  font-size: 24px;
  line-height: 1.4;
}
.text085 {
  margin-top: 16px;
}
.text086 {
  margin-top: 16px;
}
.container20 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h106 {
  width: 100%;
  font-size: 24px;
  line-height: 1.4;
}
.text087 {
  margin-top: 16px;
}
.text088 {
  font-weight: bold;
}
.text089 {
  margin-top: 16px;
}
.text090 {
  margin-top: 16px;
}
.text091 {
  font-weight: 700;
}
.text092 {
  margin-top: 16px;
}
.text093 {
  font-weight: bold;
}
.container21 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h107 {
  width: 100%;
  font-size: 24px;
  line-height: 1.4;
}
.text094 {
  margin-top: 16px;
}
.text095 {
  margin-top: 16px;
}
.text096 {
  margin-top: 16px;
  font-weight: bold;
}
.text098 {
  font-weight: normal;
}
.text099 {
  font-weight: bold;
}
.text100 {
  margin-top: 16px;
}
.text101 {
  font-weight: bold;
}
.text102 {
  margin-top: 16px;
}
.text103 {
  margin-top: 16px;
}
.container22 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h108 {
  width: 100%;
  font-size: 24px;
  line-height: 1.4;
}
.text104 {
  margin-top: 16px;
}
.text105 {
  margin-top: 16px;
}
.text106 {
  margin-top: 16px;
  font-weight: bold;
}
.container23 {
  width: 720px;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h109 {
  width: 100%;
  font-size: 24px;
  line-height: 1.4;
}
.container24 {
  width: 100%;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
.container25 {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: auto;
  margin-top: 100px;
  align-items: center;
  border-color: #E4E7EB;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.container26 {
  width: 1000px;
  display: grid;
  grid-gap: px;
  align-items: stretch;
  align-content: start;
  justify-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.container27 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.text108 {
  color: #3E4C59;
  font-size: 14px;
  font-weight: 400;
}
.text109 {
  color: rgb(9, 103, 210);
  font-weight: 600;
}
.container28 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-self: stretch;
  align-items: stretch;
  justify-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.link {
  display: contents;
}
.icon2 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link1 {
  display: contents;
}
.icon3 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link2 {
  display: contents;
}
.icon4 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link3 {
  display: contents;
}
.icon5 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link4 {
  display: contents;
}
.icon6 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
@media(max-width: 991px) {
  .container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .div {
    width: 90%;
  }
  .container04 {
    height: 280px;
  }
  .div03 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .container {
    flex-wrap: nowrap;
  }
  .div {
    width: 90%;
  }
  .container02 {
    width: 80%;
  }
  .container03 {
    width: 80%;
  }
  .container04 {
    width: 80%;
    height: 360px;
  }
  .div02 {
    width: 80%;
  }
  .container07 {
    width: 90%;
  }
  .container08 {
    width: 90%;
  }
  .container09 {
    width: 80%;
    align-items: center;
  }
  .div03 {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .container15 {
    width: 80%;
  }
  .div04 {
    width: 80%;
  }
  .div05 {
    width: 80%;
  }
  .container16 {
    width: 80%;
  }
  .div06 {
    width: 80%;
  }
  .div07 {
    width: 80%;
  }
  .div08 {
    width: 80%;
  }
  .div09 {
    width: 80%;
  }
  .container25 {
    height: 80px;
  }
  .container26 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .container {
    flex-wrap: nowrap;
  }
  .navbar {
    height: 120px;
  }
  .div {
    grid-gap: 16px;
    margin-top: 16px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .container01 {
    justify-content: center;
  }
  .div01 {
    justify-content: space-between;
  }
  .container02 {
    width: 80%;
  }
  .container03 {
    width: 80%;
    flex-wrap: nowrap;
    align-items: center;
  }
  .container04 {
    width: 80%;
    height: 560px;
    align-items: start;
    justify-items: stretch;
    justify-content: space-between;
  }
  .container05 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .div02 {
    width: 80%;
  }
  .container07 {
    width: 90%;
  }
  .container08 {
    width: 90%;
  }
  .container09 {
    width: 80%;
  }
  .div03 {
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .container15 {
    width: 80%;
  }
  .div04 {
    width: 80%;
  }
  .div05 {
    width: 80%;
  }
  .container16 {
    width: 80%;
  }
  .div06 {
    width: 80%;
  }
  .div07 {
    width: 80%;
  }
  .div08 {
    width: 80%;
  }
  .container17 {
    width: 100%;
  }
  .div09 {
    width: 80%;
  }
  .container19 {
    width: 80%;
  }
  .container20 {
    width: 80%;
  }
  .container21 {
    width: 80%;
  }
  .container22 {
    width: 80%;
  }
  .container23 {
    width: 80%;
  }
  .container25 {
    height: 120px;
    flex-direction: column;
  }
  .container26 {
    width: 80%;
    align-items: start;
    grid-template-columns: 1fr;
  }
  .container27 {
    flex-wrap: wrap;
  }
  .text108 {
    text-align: center;
  }
}
