.home {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FCFDFF;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-color: #E4E7EB;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.div {
  width: 1000px;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.image {
  width: 120px;
  object-fit: cover;
}
.div1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.text {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  align-self: center;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  transition-delay: 2s;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.text01 {
  font-weight: 700;
}
.span {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}
.text02 {
  font-weight: 700;
}
.text03 {
  color: #1f2933;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
}
.container01 {
  width: 720px;
  display: block;
  align-self: center;
  margin-top: 48px;
  border-radius: 8px;
}
.text04 {
  width: 100%;
  margin: auto;
  display: block;
  padding: auto;
  position: static;
  font-size: 40px;
  align-self: flex-start;
  text-align: center;
  font-weight: 900;
  line-height: 1.3;
}
.text05 {
  width: 100%;
  cursor: auto;
  display: block;
  margin-top: 8px;
  text-align: center;
  line-height: 1.9;
}
.text06 {
  color: #127fbf;
  width: 100%;
  display: block;
  margin-top: 8px;
  text-align: center;
  font-weight: 700;
}
.text07 {
  color: rgb(31, 41, 51);
  font-weight: 400;
}
.text08 {
  color: rgb(33, 134, 235);
}
.container02 {
  width: 720px;
  display: grid;
  grid-gap: 16px;
  margin-top: 24px;
  align-items: center;
  justify-items: stretch;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
}
.container03 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.link {
  display: contents;
}
.container04 {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 6px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0967D2;
}
.icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: 20px;
}
.text09 {
  color: #fff;
  font-size: 14px;
  align-self: center;
  margin-top: 8px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.text10 {
  font-weight: 700;
}
.container05 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.link1 {
  display: contents;
}
.icon01 {
  width: 32px;
  height: 32px;
  margin: 16px;
  align-self: center;
}
.link2 {
  display: contents;
}
.icon02 {
  width: 32px;
  height: 32px;
  margin: 16px;
  align-self: center;
}
.link3 {
  display: contents;
}
.icon03 {
  width: 32px;
  height: 32px;
  margin: 16px;
  align-self: center;
}
.container06 {
  width: 720px;
  display: flex;
  align-self: center;
  margin-top: 40px;
  align-items: center;
  justify-content: flex-start;
}
.text11 {
  width: 25%;
  font-size: 24px;
}
.text12 {
  font-weight: 800;
}
.container07 {
  width: 75%;
  height: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #CBD2D9;
}
.container08 {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-start;
}
.container09 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
.navlink {
  display: contents;
}
.image1 {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.container10 {
  width: 60%;
  display: flex;
  align-self: center;
  margin-top: 2px;
  align-items: flex-start;
  margin-left: 24px;
  flex-direction: column;
}
.text13 {
  font-size: 24px;
}
.text14 {
  font-weight: 800;
}
.text15 {
  color: #52606D;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
}
.navlink1 {
  display: contents;
}
.container11 {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  border-color: #CBD2D9;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
}
.text16 {
  font-size: 14px;
  align-self: center;
  margin-top: 8px;
  text-align: center;
  margin-left: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.text17 {
  font-weight: 700;
}
.icon04 {
  width: 20px;
  height: 20px;
  display: inline;
  align-self: center;
}
.container12 {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-start;
}
.container13 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
.navlink2 {
  display: contents;
}
.image2 {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.container14 {
  width: 60%;
  display: flex;
  align-self: center;
  margin-top: 2px;
  align-items: flex-start;
  margin-left: 24px;
  flex-direction: column;
}
.text18 {
  font-size: 24px;
}
.text20 {
  color: #52606D;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
}
.navlink3 {
  display: contents;
}
.container15 {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  border-color: #CBD2D9;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
}
.text21 {
  font-size: 14px;
  align-self: center;
  margin-top: 8px;
  text-align: center;
  margin-left: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.text22 {
  font-weight: 700;
}
.icon05 {
  width: 20px;
  height: 20px;
  display: inline;
  align-self: center;
}
.container16 {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-start;
}
.container17 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
.navlink4 {
  display: contents;
}
.image3 {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.container18 {
  width: 60%;
  display: flex;
  align-self: center;
  margin-top: 2px;
  align-items: flex-start;
  margin-left: 24px;
  flex-direction: column;
}
.text23 {
  font-size: 24px;
}
.text24 {
  font-weight: 800;
}
.text25 {
  color: #52606D;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
}
.navlink5 {
  display: contents;
}
.container19 {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  border-color: #CBD2D9;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
}
.text26 {
  font-size: 14px;
  align-self: center;
  margin-top: 8px;
  margin-left: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.text27 {
  font-weight: 700;
}
.icon06 {
  width: 20px;
  height: 20px;
  display: inline;
  align-self: center;
}
.container20 {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: auto;
  margin-top: 100px;
  align-items: center;
  border-color: #E4E7EB;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.div2 {
  width: 1000px;
  display: grid;
  grid-gap: px;
  align-items: stretch;
  align-content: start;
  justify-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.container21 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.text28 {
  color: #3E4C59;
  font-size: 14px;
  font-weight: 400;
}
.text29 {
  color: rgb(9, 103, 210);
  font-weight: 600;
}
.container22 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-self: stretch;
  align-items: stretch;
  justify-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.link4 {
  display: contents;
}
.icon07 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link5 {
  display: contents;
}
.icon08 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link6 {
  display: contents;
}
.icon09 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link7 {
  display: contents;
}
.icon10 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
.link8 {
  display: contents;
}
.icon11 {
  fill: #3E4C59;
  width: 20px;
  height: 20px;
  margin: 16px;
}
@media(max-width: 991px) {
  .text11 {
    width: 30%;
  }
  .container07 {
    width: 67%;
  }
}
@media(max-width: 767px) {
  .div {
    width: 80%;
  }
  .container01 {
    width: 70%;
  }
  .container02 {
    width: 70%;
  }
  .container06 {
    width: 70%;
  }
  .text11 {
    width: 40%;
  }
  .container07 {
    width: 60%;
  }
  .container08 {
    width: 70%;
  }
  .container12 {
    width: 70%;
  }
  .container16 {
    width: 70%;
  }
  .container20 {
    height: 80px;
  }
  .div2 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .navbar {
    height: 120px;
  }
  .div {
    grid-gap: 24px;
    margin-top: 16px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .container {
    justify-content: center;
  }
  .div1 {
    justify-content: space-between;
  }
  .container01 {
    width: 80%;
  }
  .text04 {
    font-size: 40px;
    text-align: left;
  }
  .text05 {
    text-align: left;
  }
  .text06 {
    text-align: left;
  }
  .container02 {
    width: 80%;
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
  .container04 {
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .icon {
    margin-top: 0;
    margin-left: 0;
  }
  .container05 {
    justify-content: space-around;
  }
  .icon01 {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .icon02 {
    width: 24px;
    height: 24px;
  }
  .icon03 {
    width: 24px;
    height: 24px;
  }
  .container06 {
    width: 80%;
    display: block;
  }
  .text11 {
    width: 100%;
  }
  .container07 {
    width: 100%;
  }
  .container08 {
    width: 80%;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .container09 {
    width: 100%;
  }
  .image1 {
    width: 100%;
  }
  .container10 {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
  .text13 {
    width: 100%;
  }
  .text15 {
    align-self: flex-start;
  }
  .container11 {
    width: 100%;
    justify-content: center;
  }
  .container12 {
    width: 80%;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .container13 {
    width: 100%;
  }
  .image2 {
    width: 100%;
  }
  .container14 {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
  .text18 {
    width: 100%;
  }
  .text20 {
    align-self: flex-start;
  }
  .container15 {
    width: 100%;
    justify-content: center;
  }
  .container16 {
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
  }
  .container17 {
    width: 100%;
  }
  .container18 {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
  .container19 {
    width: 100%;
    justify-content: center;
  }
  .container20 {
    height: 120px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .div2 {
    width: 80%;
    align-content: start;
    grid-template-columns: 1fr;
  }
  .container21 {
    margin-top: 16px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .text28 {
    text-align: center;
  }
  .container22 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
