.container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.container01 {
  width: 60%;
  cursor: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.navlink {
  display: contents;
}
.icon {
  width: 32px;
  height: 32px;
}
.container02 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  width: 100%;
  font-size: 40px;
  margin-top: 16px;
  line-height: 1.4;
}
.text01 {
  font-weight: 900;
}
.text02 {
  color: #52606D;
  margin-top: 4px;
  line-height: 1.8;
}
.image {
  width: 100%;
  margin-top: 24px;
  object-fit: cover;
}
.container03 {
  width: 60%;
  display: grid;
  grid-gap: 24px;
  margin-top: 24px;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text03 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text04 {
  text-transform: uppercase;
}
.text05 {
  margin-top: 16px;
}
.container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text06 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text07 {
  text-transform: uppercase;
}
.text08 {
  margin-top: 16px;
}
.div {
  width: 60%;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  flex-direction: column;
}
.h1 {
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4;
}
.text09 {
  margin-top: 16px;
}
.text10 {
  font-family: Mixed;
}
.container06 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 32px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #F5F7FA;
}
.container07 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.icon1 {
  fill: #F86A6A;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.text11 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-right: 8px;
}
.text12 {
  display: inline-block;
}
.container08 {
  width: 60%;
  display: grid;
  grid-gap: px;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
}
.container09 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text13 {
  font-size: 24px;
  line-height: 1.4;
}
.text14 {
  font-weight: 800;
}
.text15 {
  margin-top: 16px;
}
.image1 {
  width: 100%;
  object-fit: cover;
}
.container10 {
  width: 60%;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.h11 {
  font-size: 24px;
  line-height: 1.4;
}
.text16 {
  font-weight: 800;
}
.text17 {
  margin-top: 16px;
}
.container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text18 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text19 {
  text-transform: uppercase;
}
.text20 {
  margin-top: 16px;
}
.container13 {
  width: 70%;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.image2 {
  width: 90%;
  align-self: center;
  margin-top: 40px;
  object-fit: scale-down;
  border-radius: 8px;
  margin-bottom: 16px;
}
.text21 {
  font-size: 16px;
  align-self: center;
  margin-bottom: 24px;
}
.container14 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text22 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text23 {
  text-transform: uppercase;
}
.text24 {
  margin-top: 16px;
}
.container15 {
  width: 70%;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.image3 {
  width: 90%;
  align-self: center;
  margin-top: 40px;
  object-fit: scale-down;
  border-radius: 8px;
  margin-bottom: 16px;
}
.text25 {
  font-size: 16px;
  align-self: center;
  margin-bottom: 24px;
}
.container16 {
  width: 60%;
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
}
.h12 {
  width: 100%;
  font-size: 24px;
  line-height: 1.4;
}
.text26 {
  font-weight: 800;
}
.text27 {
  margin-top: 16px;
}
.container17 {
  width: 70%;
  display: grid;
  grid-gap: 24px;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
}
.container18 {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.h13 {
  font-size: 24px;
}
.text28 {
  font-weight: 800;
}
.text29 {
  font-size: 16px;
  margin-top: 16px;
}
.text30 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text31 {
  text-transform: uppercase;
}
.text32 {
  font-size: 16px;
  margin-top: 16px;
}
.text33 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text34 {
  text-transform: uppercase;
}
.text35 {
  font-size: 16px;
  margin-top: 16px;
}
.container19 {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #F5F7FA;
}
.h14 {
  font-size: 24px;
}
.text36 {
  font-weight: 800;
}
.text37 {
  font-size: 16px;
  margin-top: 16px;
}
.text38 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text39 {
  text-transform: uppercase;
}
.text40 {
  font-size: 16px;
  margin-top: 16px;
}
.text41 {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.text42 {
  text-transform: uppercase;
}
.text43 {
  font-size: 16px;
  margin-top: 16px;
}
@media(max-width: 991px) {
  .container {
    justify-content: flex-start;
  }
  .container03 {
    height: 1310px;
  }
}
@media(max-width: 479px) {
  .container03 {
    width: 80%;
    height: 440px;
    align-items: start;
    justify-items: stretch;
    justify-content: space-between;
  }
  .container04 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
